/* Control the left side */
.left {
    height: 100%;
    width: 75%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 10px;
    left: 0;
    background-color: rgb(255, 255, 255);
  }
  
  /* Control the right side */
.right {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 10px;
    right: 0;
    background-color: rgb(255, 255, 255);
  }

  .border{
    border-radius: 10px;
    --ion-item-background: rgb(187, 203, 206);
    margin: 10px;
  }