<div class="drawer" #drawer>
  <div class="ion-text-center">
    <ion-button fill="clear" expand="full" (click)="toggleDrawer()">
      <div class="drawer-pull"></div>
    </ion-button>
  </div>

  <div style="background-color: darkgray;">
    <ion-row style="text-align: center;">
      <ion-col style="text-align: left; color: white;">
        <h5>Arrival Time</h5>
      </ion-col>
      <ion-col style="color: white;">
        <h5>Bus Name</h5>
      </ion-col>
      <ion-col style="text-align: right; color: white;">
        <h5>Destination</h5>
      </ion-col>
    </ion-row>
  </div>

  <div *ngFor="let data of busDetailsOfStop[1]; let i = index">
    <!-- busDetailsOfStop[1] is just used for iteration-->
    <ion-list style="text-align: center;">
      <!--The Destination is found in busDetailsOfStop[2][i]-->
      <ion-item (click)="redirectToStatusPage(busDetailsOfStop[1][i])">
        <ion-grid>
          <ion-row>
            <ion-col size="3" style="text-align: left; color: green;">
              {{busDetailsOfStop[0][i]}}
            </ion-col>
            <ion-col size="6" style="text-transform: uppercase; text-align: center;">
              <h5> {{busDetailsOfStop[1][i]}} </h5>
            </ion-col>
            <ion-col size="3" style="text-align: right; color: rgb(24, 168, 168); text-align: center;">
              {{busDetailsOfStop[2][i]}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

    </ion-list>
  </div>
</div>>