<ion-content>

    <div class="container">
        <div class=title-img>
            <ion-img src="../../assets/title.jpg"></ion-img>
        </div>
        <ion-button routerLink="/search" color="primary" shape="round" size="large" expand="block">Find a Stop
            <ion-icon slot="end" name="search"></ion-icon>
        </ion-button>


        <ion-button routerLink="/home" color="warning" shape="round" size="large" expand="block">Open Map
            <ion-icon slot="end" name="map"></ion-icon>
        </ion-button>
    </div>
</ion-content>