ion-item {
    color: white;
}

ion-searchbar{
    border-radius: 10px;
    margin: 5px;
}

  .border{
    border-radius: 10px;
    --ion-item-background: rgb(24, 109, 124);
    margin: 20px;
}
ion-content{
    --ion-background-color: rgba(128, 128, 128, 0.089);
}